/* General Styles */
html {
    scroll-behavior: smooth;
}

/* Gallery Section */
.picture-gallery {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgb(63, 44, 207);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.gallery-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    margin: 0 20px;
}

.gallery-item {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}

.gallery-item:hover img {
    opacity: 0.8;
    transform: scale(1.05); /* Slight zoom effect */
}

/* Styling for the pictures */
.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .gallery-item img {
        max-width: 100%;
        height: auto;
        object-fit: cover; 
    }
}
